src/main/mule/mule-maven-plugin-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0007c662-c4f5-4d93-ab57-2bfe97db8ca7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule_maven_plugin_demoFlow" doc:id="60d6e357-9c4c-49c8-985e-e982c0e3fcca" >
		<http:listener doc:name="Listener" doc:id="ca71884d-069b-4977-a2e6-b1acb2467b5c" config-ref="HTTP_Listener_config" path="/muleMaven"/>
		<set-payload value='#["My demo mule maven plugin deployment"]' doc:name="Set Payload" doc:id="cef00fdf-6a8b-4723-be6c-3a9535342ebb" />
		<ee:transform doc:name="Transform Message" doc:id="8431c335-f9ef-456d-a29e-96d0dd14937f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" :"success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
